<div class="row">
    <div class="col-12">
        <!-- El método más usado para agregar o para recibir datos es POST -->
        <form asp-action="Agregar" method="post">
            <div class="form-group">
                <label>ID</label>
                <input type="number" required autofocus class="form-control" name="ID" />
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <textarea required name="Descripcion" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <select required name="Estado" class="form-control">
                    <option value="">Selecciona una opción</option>
                    <option value="1">Activo</option>
                    <option value="2">Terminado</option>
                    <option value="3">Cancelado</option>
                </select>
            </div>
            <input type="submit" value="Agregar" class="btn btn-secondary" />
            <a asp-action="Index" class="btn btn-link">Cancelar</a>
        </form>
    </div>
</div>